* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: hsl(180, 52%, 96%);
}

#section {
  width: 100vw;
  position: relative;
}

.bg-img__mobile img {
  width: 100vw;
  background-color: hsl(181, 56%, 39%);
}
.bg-img__desktop img {
  width: 100vw;
  background-color: hsl(181, 56%, 39%);
  display: none;
}

.active-input {
  position: absolute;
  /* top: -20%; */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  box-shadow: 2px 2px 8px 0px hsl(180, 37%, 62%);
  width: 85%;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 80%;
  gap: 0.8rem;
}

.input-1 {
  display: flex;
}

.input-1 h3 {
  color: hsl(181, 56%, 39%);
  border-radius: 2px;
  background-color: hsl(180, 52%, 96%);
  padding: 10px 7px;
  font-weight: 600;
}

.clear-each {
  outline: none;
  border: none;
  background: hsl(181, 56%, 39%);
}
.clear-each:hover {
  background-color: hsl(180, 14%, 20%);
}

.clear-each span {
  font-size: 35px;
  color: #fff;
  padding: 0 10px;

}

.clear-all {
  outline: none;
  border: none;
  background: none;
  color: hsl(180, 9%, 32%);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.clear-all:hover {
  color: hsl(181, 56%, 39%);

  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 3rem;
  margin-top: 4.5rem;
}

.item {
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 2px 2px 8px 0px hsl(180, 37%, 62%);
  position: relative;
}

.item .active {
  position: absolute;
  background-color: hsl(180, 29%, 50%);
  top: 0;
  left: 0;
  padding: 0.15rem;
  min-height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* display: none; */
}

.item-img {
  margin-top: -2.5rem;
}

.item-img img {
  width: 4rem;
}

.company {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}

.company-name {
  font-weight: 700;
  color: hsl(181, 56%, 39%);
}

.new {
  border-radius: 10px;
  background-color: hsl(181, 56%, 39%);
  padding: 5px 7px;
  color: #fff;
}

.new:empty {
  display: none;
}
.featured:empty {
  display: none;
}
.featured {
  border-radius: 10px;
  background-color: hsl(180, 14%, 20%);
  padding: 5px 7px;
  color: #fff;
}

.position {
  margin-top: 1rem;
}

.infos {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  font-size: 16px;
}
.info {
  margin-right: 0.8rem;
}

.info:first-child {
  list-style-type: none;
}

hr {
  margin: 1rem 0;
}

.right-items {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* margin-left: 2rem; */
}

.tools,
.languages,
.personal-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.role,
.level,
.language,
.tool {
  color: hsl(181, 56%, 39%);
  border-radius: 2px;
  background-color: hsl(180, 52%, 96%);
  padding: 10px 7px;
  cursor: pointer;
}

.role:hover,
.level:hover,
.language:hover,
.tool:hover {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}

.role:active,
.level:active,
.language:active,
.tool:active {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}

.language:empty,
.tool:empty {
  display: none;
}

@media (min-width: 768px) {
  .bg-img__desktop img {
    display: block;
  }
  .bg-img__mobile img {
    display: none;
  }

  .item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    row-gap: 2rem;
  }
  .item-content {
    flex-basis: 40%;
    margin-left: 2rem;
    /* text-align: center; */
  }

  hr {
    display: none;
  }
  .item-img {
    margin-top: 0;
    flex-basis: 10%;
  }

  .infos {
    font-size: 17px;
    gap: .5rem;
  }
  .right-items {
    margin-left: 2rem;
    flex-basis: 40%;
  }
}